# Node modules
backend/node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
backend/database/development.sqlite
backend/database/adonis.sqlite