# Node modules
backend/node_modules

# Adonis directory for storing tmp files
backend/tmp

# Environment variables, never commit this file
.env

# The development sqlite file
backend/database/*.sqlite

# Package-lock
backend/package-lock.json

backend/*.lock